body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background: url('/Screenshot 2024-12-18 at 10.34.24 PM.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}


.card {
  background-color: rgba(17, 25, 39, 0.9);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  width: 90%;
  max-width: 350px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


.logo img {
  width: 200px;
  margin-bottom: 10px;
}


button {
  background-color: #b4865a;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 0;
  width: 100%;
  transition: all 0.3s ease;
}



button:hover {
  background-color: #936a49;
  transform: scale(1.05);
}


.text {
  color: #ffffff;
  font-size: 14px;
  margin: 10px 0;
}


.error-message {
  color: white;
  display: none;
}


input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}